<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="data:,">
	<title>Pepega Blog Website</title>
	<meta charset="UTF-8">
	<style type="text/css">
		body {
			background-color: #c8bfe7;
			font-family: 'Times New Roman', Times, serif;
			color: #000000;
			margin: 0;
			padding: 0;
		}
		input[type="submit"] {
 			background-color: #897cb7;
			color: white;
			font-size: 20px;
		}
		h2 {
			background-color:#d8d2ed;
			font-size: 40px;
		}
	</style>
</head>
<body>
	<br>
	<form action="/" method="get">
		<input type="submit" value="Home">
	</form>
	<br>
	<form action="/logout" method="get">
		<input type="submit" value="Log out">
	</form>
	<h2>Welcome, {{ .Login }}</h2>
	<img src="images/g39hve0cjq2gh9m8f.png" width="500" />
    <br><br>
    <h2>My blogs:</h2>
    {{ if .CntsExist }}
		{{ range .Contents }}
			<h3 style="background-color:#d8d2ed; font-size: 30px;">{{ .Author }} posted on {{ .Timestamp }}</h3>
			<h3>{{ .Text }}</h3>
			{{ range .Images }}
				<img src="{{ .Link }}" width="400" />
			{{ end }}
			<form action="/mypage/removeapost" method="post">
				<input type="hidden" name="postid" value="{{ .ID }}">
				<input type="submit" value="Remove">
				<br>
			</form>
			<img src="images/g84379fjeew0g98h4.png" width="50" />
		{{ end }}
	{{ end }}
    <br><br>
    <h2>Write a blog</h2>
	<form action="/mypage/newblog" method="post">
		<h3>Text</h3>
    	<textarea name="message" rows="10" required></textarea>
		<br>
		<h3>Images:</h3>
		<textarea name="images" placeholder="separate URLs by a single new line" rows="10"></textarea>
		<br>
		<input type="submit" value="New blog">
		<br>
	</form>
	<br><br><br><br>
	<h2>Wanna delete all the posts?</h2>
	<form action="/mypage/removeposts" method="get">
		<input type="password" placeholder="enter oassword to confirm" name="password" required><br><br>
		<input type="submit" value="Delete">
		{{ if .Dapn.DAPNExists }}
			{{ .Dapn.DAPNText }}
		{{ end }}
	</form>
	<br><br>
</body>
</html>